<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container maxw-desktop">
      <div class="grid-row padding-x-9 padding-y-2">
        <div class="tablet:grid-col text-center">
           <span class="logo-links">
            <a class="footer-logo media_link" href="https://www.access-board.gov/">{% asset usab-logo.svg alt="usab logo" width="50" %}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
